.funfact-content {
	&__wrapper {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		gap: 30px;
	}

	&__item {
		flex: 1 1 calc(25% - 70px);
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		padding: 20px;
		border-radius: 8px;

		.counter {
			line-height: 100%;
			margin: 5px;
		}

		&--title {
			line-height: 110%;
			margin: 5px;
		}

		&--desp {
			margin-top: 5px;
			margin: 5px;
		}
	}
}

// Responsive
@media screen and (max-width: 991px) {
	.funfact-content {
		&__wapper {
			justify-content: space-around;
		}
	}
}

@media screen and (max-width: 767px) {
	.funfact-content {
		&__wapper {
			flex-direction: column;
			gap: 50px;
		}

		&__item {
			&--cunter {
				font-size: 48px;
			}
		}
	}
}
